<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Monday, July 30, 2018 at 4:20:28 PM Eastern Daylight Time</string>
			<key>fullDate</key>
			<date>2018-07-30T20:20:28Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/davideelman/Desktop/Capstone Video.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>r3hnRnrMTpy09IJj2fhtuw - 2018-07-30 20:06:17 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday, July 31, 2018 at 6:40:42 PM Eastern Daylight Time</string>
			<key>fullDate</key>
			<date>2018-07-31T22:40:42Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/davideelman/Desktop/Capstone Video.mov</string>
			</array>
			<key>sourceFP</key>
			<string>r3hnRnrMTpy09IJj2fhtuw - 2018-07-31 21:05:37 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday, July 31, 2018 at 11:18:50 PM Eastern Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-01T03:18:50Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/davideelman/Desktop/Capstone Video.mov</string>
			</array>
			<key>sourceFP</key>
			<string>r3hnRnrMTpy09IJj2fhtuw - 2018-08-01 03:10:59 +0000</string>
		</dict>
	</array>
</dict>
</plist>
