<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>iMovie Library</string>
	<key>libraryID</key>
	<string>71DEE8DE-0AA4-404C-8CF8-9A535485F4AA</string>
</dict>
</plist>
